<% if @device.errors.any? %>
  <% @device.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit device #<%= @device.id %>
</h1>

<hr>

<form action="/update_device/<%= @device.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @device.description %>">
  </div>

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <%= cl_image_tag(@device.photo.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="photo" name="photo" class="form-control">
  </div>

  <div class="form-group">
    <label for="company_id">
      Company
    </label>

    <%= select_tag(:company_id, options_from_collection_for_select(Company.all, :id, :description, @device.company_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :description, @device.category_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update device
  </button>
</form>

<hr>

<a href="/devices">
  Go back
</a>
