<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Device #<%= @device.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/devices" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/devices/<%= @device.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit device
        </a>
      </div>

      <div class="col">
        <a href="/delete_device/<%= @device.id %>" class="btn btn-block btn-outline-secondary">
          Delete device
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @device.description %>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <img src="<%= @device.photo %>" class="img-fluid">
      </dd>

      <dt>
        Company
      </dt>
      <dd>
        <% if @device.company.present? %>
          <a href="/companies/<%= @device.company_id %>">
            <%= @device.company.description %>
          </a>
        <% end %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <% if @device.category.present? %>
          <a href="/categories/<%= @device.category_id %>">
            <%= @device.category.description %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@device.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@device.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "device_templates/device_reviews" %>
  </div>
</div>
